# Python bytecode files
__pycache__/
*.py[cod]
*.class

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Distribution / packaging
dist/
build/
*.egg-info/

# Local development settings
.env
.venv
env/
venv/
ENV/

# Logs
*.log
log/

# Other
.cache/
.pytest_cache/
